.folder {
  margin-left: 2rem;
  &--empty {
    opacity: 0.5;
    pointer-events: none;
  }
}

.folder__name {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;

  &--disabled {
    cursor: default;
  }
}

.folder__icon, .file__icon {
  margin-right: 0.5rem;
  width: 32px;
  height: 32px;
}

.folder__files {
  cursor: pointer;

  > div {
    display: flex;
    align-items: center;
  }
}

.folder__content {
  margin-left: 2rem;
}
